.cart-modal {
  display: flex;
}

.cart-background {
  border-radius: inherit;
}

.cart-contents {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 2%;
  right: 10%;
}

.cart-title {
  color: white;
  font-weight: bold;
  margin: 0;
}

.cart-items-list {
  background-color: #a87a51;
  width: 18em;
  height: 60%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items-list > ul {
  padding: 0;
  width: 90%;
  height: 65%;
  overflow: auto;
}

.cart-items-list > ul > li {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.cart-items-list > ul > li > span {
  margin-right: 8%;
}

.controls {
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
