.cart-modal {
  display: flex;
}

.cart-background {
  border-radius: inherit;
}

.cart-contents {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 2%;
  right: 10%;
}

.cart-items-list {
  background-color: rgba(168, 122, 81, 80%);
  width: 18em;
  height: 60%;
  border-radius: 30px;
}

.cart-items-list > ul {
  margin: 0;
  padding: 0;
}

.cart-items-list > ul > li {
  list-style-type: none;
}

.controls {
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
