.profile-form {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.8);
  border: 5px solid white;
  height: 25vh;
  width: 12vw;
  border-radius: 15px;
  bottom: 5%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.amount-input {
  height: 4vh;
  width: 3vw;
  text-align: center;
}
