.avatar {
  width: 14vw;
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  height: 60%;
  width: 60%;
  border-radius: 30px;
  object-fit: cover;
}

.avatar-name {
  margin: 0.5em 0 0 0;
  color: white;
  font-weight: bold;
}
