.shopping-list-container {
  background-color: rgba(168, 122, 81, 80%);
  height: 60%;
  width: 70%;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-list-title {
  font-size: 2em;
  color: white;
  margin: 0.5em 0;
}

.shopping-list-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
}
